@using EPiServer.Web.Mvc.Html
@using NMIC02_DC.Features.Blocks.ImageCarouselBlock
@using NM.Opti.Common.BlockViewModels.Features.Extensions
@using NMIC02_DC.Infrastructure
@using NMIC02_DC.Features.Media
@using NMIC02_DC.Infrastructure.Extensions
@using System.Text.Json
@using System.Web

@model ImageCarouselBlockViewModel

@{
    var exclude = Model.IsSearchable ? "" : "exclude";
}

<div id="@Model.Id" class="mb-12">
    <dc-image-carousel-block block-data="@Model.AllCarouselImagesJson"></dc-carousel-images>
</div>

<!-- 
    This div is used to store the content of the block for search indexing
    The content is hidden from the user -->
<div class="d-none" data-lwsearch="@exclude">
    @if (!string.IsNullOrEmpty(Model.Caption))
    { 
        <p>@Model.Caption</p>
    }

    @foreach (var image in Model.CarouselImages)
    {
        @if (!string.IsNullOrEmpty(image.ImageCaption))
        {
            <p>@image.ImageCaption</p>
        }
    }
</div>
